.mypage-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: white;
  color: black;
}

.greeting {
  font-size: 2rem;
  margin-bottom: 40px;
}

.delete-account-button {
  padding: 10px 20px;
  background-color: black;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  margin-top: 100px;
  transition: transform 0.1s ease; /* 부드러운 이동 */
}

.delete-account-button:hover {
  background-color: gray;
}

.mypage-footer {
  position: absolute;
  bottom: 20px;
  color: black;
  font-size: 1.2rem;
}
