.mypage-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: white;
  color: black;
}

.greeting {
  font-size: 2rem;
  margin-bottom: 40px;
}

.logout-button {
  padding: 10px 20px;
  background-color: #333;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  margin-bottom: 20px; /* Delete Account 버튼과의 간격 */
  transition: background-color 0.3s ease;
}

.logout-button:hover {
  background-color: #555;
}

.delete-account-button {
  padding: 10px 20px;
  background-color: black;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  margin-top: 20px;
  transition: transform 0.1s ease;
}

.delete-account-button:hover {
  background-color: gray;
}

.mypage-footer {
  position: absolute;
  bottom: 20px;
  color: black;
  font-size: 1.2rem;
}

.post-content {
  padding: 10px;
}

.post-title {
  font-size: 1.1rem;
  font-weight: bold;
  margin-bottom: 5px;
}

.post-preview {
  font-size: 0.9rem;
  color: #666;
}
